td:nth-child(3) 
{
    background: #f2f2de;
}

td:nth-child(5) 
{
    background: #f2f2de;
}

td:nth-child(7) 
{
    background: #f2f2de;
}

td:nth-child(9) 
{
    background: #f2f2de;
}

tr:nth-child(2) 
{
    background: #ddebf7;
}

tr:nth-child(4) 
{
    background: #ddebf7;
}

tr:nth-child(6) 
{
    background: #ddebf7;
}