body 
{
	font: 14px Helvetica, sans-serif;
}

input
{
	display: none;
}

label 
{
	text-decoration: underline;
	margin-right: 20px;
}

label[for = 'red']
{
	color: red;
}

label[for = 'green']
{
	color: green;
}

label[for = 'blue']
{
	color: blue;
}

#red:checked ~ .red,
#green:checked ~ .green,
#blue:checked ~ .blue
{
	display: none;
}

span
{
	color: #fff;
	padding: 1px 1px;
	border-radius: 0.3em;
}

.red 
{
	background-color: red;
}

.green 
{
	background-color: green;
}

.blue 
{
	background-color: blue;
}

